.webname {
    color: #e9eeff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px;
}
.movie {
    background: none;
    border: none;
    color: white;
    font-weight: 600;
    text-align: start !important;
}

.accordion-header {
    height: auto !important;
    font-size: 0.875rem !important;
    margin: 0 !important;
    line-height: normal !important;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper a {
    background: none;
    text-align: center;
    padding: 10px;
}
.content-wrapper {
    background-color: #001232;
}
.movie_list {
    margin-top: 100px;
    margin-left: 300px;
}
.edit_button {
    background: none;
    padding: 10px;
}
.delete_button {
    background: none;
    padding: 10px;
}
.custom-checkbox input {
    display: none;
}
.single-seat {
    margin-bottom: 10px;
}
/* Style for the custom checkbox */
.custom-checkbox {
    position: relative;
    padding-left: 30px; /* Space for the custom checkbox */
    cursor: pointer;
    font-size: 16px;
    user-select: none;
    margin-left: 10px;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 45px;
    background: none;
    border: 2px solid #314c81;
    text-align: center;
}

.custom-checkbox input:checked + .checkmark {
    background-color: #314c81; /* Change color when checked */
}

.custom-checkbox input:checked + .checkmark:after {
    font-size: 14px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.table {
    color: white;
    margin-top: 100px;

    border: 1px white solid;
}
.table tr th {
    border: none;
    padding: 20px;
}
.table th {
    border: none;
}
.table td {
    border: none;
}
.filter_button {
    background: none;
    border: 1px white solid;
}
